<html lang="en">

    <head>
        <title>ODBD</title>
        <meta http-equiv="content-type" content="text/html" charset="utf-8">
        <meta name="description" content="Digital Library - all the files for the IU students in one place">
        <meta name="keywords" content="Digital Library, Innopolis, UI, DL, project, students, bachelor, master">
        <link rel="stylesheet" type="text/css" href="static/css/general_style.css">
        <link rel="stylesheet" type="text/css" href="static/fonts/fonts.css">
        <link rel="stylesheet" type="text/css" href="static/css/landing_style.css">
        <script type="text/javascript" defer="defer">
            function toggle_form() {
                document.getElementById("outline_button").style.display = "none";
                document.getElementById("outline_form").style.display = "block";
            }

        </script>
    </head>
    <body class="bcolor1">
        <header>
            <img src="static/images/odbd_landing.png" class="logo">
            <h1 class="logo_description color3">one day before deadline</h1>
        </header>

        <div class="outline_box">
            <div class="outline_button" id="outline_button">
                <!-- img src="static/images/button_inactive.png" class="form button_inactive" onclick="toggle_form()"-->
                <img src="static/images/button_background.png" class="button_background" onclick="toggle_form()">
                <!-- img src="static/images/button_front.png" class="button_front" onclick="toggle_form()"-->
            </div>

            <div class="outline_form" id="outline_form">
                <div class="form_hat bcolor3"></div>
                <div class="form_block bcolor2 bdcolor3">
                    <form action="" method="post" enctype="text/plain" novalidate>
                    <div class="form_inputs">
                        <p class="form_text color3">email address</p>
                        <!--input type="text" name="login" maxlength="50" size=21 class="bdcolor3"-->
                        {{ form.email(size=21, maxlength="50", class="bdcolor3") }}<br>

                        <p class="form_text color3">password</p>
                        <!--input type="password" name="password" maxlength="50" size=21 class="bdcolor3"-->
                        {{ form.password(size=21, maxlength="50", class="bdcolor3") }}<br>
                    </div>
                    <div class="form_submit">
                        <!--input type="button" name="submit" type="submit" value="start" class="color2 bcolor3"-->
                        {{ form.submit(value="start", type="button", class="color2 bcolor3") }}
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>