body {
    margin: 0;
    overflow: scroll;
}
img#bulbactive {
    display: none;
    z-index: 999;
}
img#bulbpassive {
    display: block;
}
img#back_sidebar {
    display: none;
    z-index: 999;
}
div.invisible_click {
    position: absolute;
    top: 49%;
    right: 8.5%;
    width: 165px;
    height: 215px;
    z-index: 1001;
}
div.header {
    height: 15%;
    width: 100%;
    position: absolute;
    margin: 0;
}
div.sidebar {
    position: absolute;
    height: 85%;
    width: 25%;
    left: 0;
    top: 15%;
}
div.picture {
    width: 17%;
    height: 100px;
    float: left;
    position:relative;
}
img.picture {
    position:relative;
    float:left;
    height:78%;
/*    width:100%*/
/*    padding-left: 20;*/
    padding-bottom: 20px;
    padding-right: 20px;
/*    padding-top: 20;*/
}


div.bulb {
    width: 83%;
    height:100%;
    float: right;
    position:relative;

}
img.bulb {
    z-index:1000;
    padding-left:0;
    padding-bottom: 20px;
    padding-right: 0;
    width:100%;
/*    height:400%;*/
    float: right;
    position:relative;
    
}
div.main {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 75%;
    height: 85%;
    background-color: bisque;
}
div.main_data {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: darkolivegreen;
}
div.main_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
div.main_materials {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: aliceblue;
}
h2.main_title {
    font-size: 3em;
    font-family: "Neue Machina";
    text-align: center;
    margin: auto;
}

div.main_material {
    position: relative;
}
table.main_materials_table {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}
td.main_materials_table {
    background-color: #BBFFFF;
    height: 250px;
    width: 220px;
    padding: 0 15px 30px;
}
img.main_materials_table_img {
    height: 70%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 9%;
    padding: 0;
}
div.main_materials_table {
    width: 80%;
    margin-left: 10%;
}
span.main_materials_table {
    font-size: 0.9em;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

h3.subjects {
    font-size : 2.3em;
    top: 100px;
    font-family: "Neue Machina";
    text-align: left;
    margin:auto;
}
h3.years {
    font-size : 1.9em;
    font-family: "Neue Machina";
    text-align: left;
    margin:auto;
}
div.years {
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 0;
    display: none;
}

div.subjects {
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 0;
    display: none;
}

h4.nameofsubjects {
    font-family: "Neue Machina";
    font-size : 1.5em;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-right: 0;
}

div.main_material {
    position: relative;
}
